
 <div style="max-width: 1088px;">
    <img src="https://user-images.githubusercontent.com/2123231/112866846-8c792b00-90ba-11eb-85ae-9fd161c93f83.png" style="display:block;    width: 100%;
    max-width: 1088px;">
    <br><br>
    Hola <strong> {{ name }}</strong>.
    <br><br>
    Tu registro en el sitio <a href="https://investigadoresparaguayosenelmundo.com"  target="_blank">
        Investigadores Paraguayos en el Mundo</a> ha sido aprobado. Puedes verificar tu información en el sitio accediendo al mapa 
        <a href="https://investigadoresparaguayosenelmundo.com/map" targe="_blank">aquí</a>.
    <br><br>
    Puedes modificar datos de tu registro <a href="https://investigadoresparaguayosenelmundo.com/registration/edit/{{ slug }}">aqui</a>. 
    <br><br>
    <strong>
        Recuerda que el objetivo del sitio es:
    </strong>
    <br><br>
    <ol>
        <li> Generar colaboraciones entre académicos paraguayos residiendo en el extranjero y trabajando en áreas afines con el potencial de iniciar lineas de investigación que puedan derivar en investigaciones conjuntas en el futuro;</li>
        <li>Fortalecer vínculos entre investigadores paraguayos residiendo en lugares próximos propiciando la creación de comunidades locales para el intercambio de ideas, conocimientos, y experiencias</li>
    </ol>
    <br><br>
   <strong> Te animo a aprovechar la información del sitio para establecer contacto y colaboración que puedan ayudarte en tus actividades académicas..</strong>
    <br><br>
    Cualquier otra cosa, estoy a las órdenes.
    <br><br>
Saludos!
<br><br>
Jorge Saldivar Galli
</div>