<div>
    <br><br>
    Hola <strong> {{name|safe}}  </strong> 
    <br><br>
    Por los datos que nos indicaste en el registro, tu período de estancia en el extranjero caduca hoy. Si tu tiempo fuera de Paraguay se ha extendido por favor actualiza [aquí]() la fecha de regreso al país. Si, por el contrario, has regresado a Paraguay no hace falta que realices ninguna acción. Si en las próximas semanas tu registro no se ha actualizado con una nueva fecha de regreso al país, tu perfil en la plataforma será desactivado.
    <br><br>
    <a href="https://investigadoresparaguayosenelmundo.com/registration/edit/{{ slug }}" target='_blank'>
        Enlace para actualizar mis datos
    </a>
    <br><br>
    Cualquier interrogante que te pueda surgir sobre esto no dudes en contactarme.
    <br><br>
    Atentos saludos,
    <br><br>
        <strong>Jorge Saldivar.-</strong>
</div>