{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156085830-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-156085830-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="Sitio con información sobre investigadores paraguayos trabajando en universidades, centros de investigación, y empresas fuera de Paraguay">
    <meta property="og:title" content="Investigadores Paraguayos en el Mundo" />
    <meta property="og:url" content="http://investigadoresparaguayosenelmundo.com/" />
    <meta property="og:description" content="Web con información sobre investigadores paraguayos en el mundo">
    <meta property="og:image" content="http://investigadoresparaguayosenelmundo.com/static/app/img/og_image.png">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="716" />
    <meta property="og:image" content="http://investigadoresparaguayosenelmundo.com/static/app/img/og_image_180x107.png">
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="107" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Investigadores Paraguayos en el Mundo" />
    <meta name="twitter:image" content="http://investigadoresparaguayosenelmundo.com/static/app/img/og_image.png" />
    <meta name="twitter:description" content="Web con información sobre investigadores paraguayos en el mundo" />
    <title>Investigadores Paraguayos en el Mundo</title>
    <!-- Custom fonts for this theme -->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <!-- Theme CSS -->
    <link href="{% static 'app/css/freelancer.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/card.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'app/favicon.ico' %}"/>
    <!-- LeafletJS -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!--CDN para agregar los cluster de Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <!--CDN para el plugin de fullscreen del mapa-->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <!--CDN para agregar la barra de busqueda-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.4/dist/geosearch.css"/>
    <!-- Make sure you put this AFtER leaflet.js, when using with leaflet -->
    <script src="https://unpkg.com/leaflet-geosearch@3.0.4/dist/geosearch.umd.js"></script>

    <style>
       /* Set the size of the div element that contains the map */
      .know-more-button {
        position:absolute;
        display:block;
      }
      #map_header{
        width: 100%;
        height: 650px;
      }
      .map-search-box {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      #pac-input:focus {
        border-color: #4d90fe;
      }
      .pac-container {
        font-family: Roboto;
      }
      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }
      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      .transparentBackground {
        background-color: rgba(255,255,255, 0.5);
        color: inherit;
      }
      .map {
        position: relative;
        display:inline-block;
      }
      #map{
        width: 100%;
        height: 650px;
      }
      #map-registration {
        height: 400px;  /* The height is 400 pixels */
      }
    </style>
</head>
<body id="page-top">
    {% include 'navbar.html' %}
    <div id="myAlert" class="alert text-center collapse" role="alert">
        <div id="msgReg"></div>
        <button type="button" class="close alert-dismissible" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <script src="{% static 'app/js/cipe.js' %}"></script>
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
            <!-- Footer Location -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4"></h4>
                    <p class="lead mb-0">Sitio creado y mantenido por<br>Jorge Saldivar
                    </p>
                </div>
                <!-- Footer Social Icons -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Contacto</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/jorgesaldivar" target="_blank">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/jorgesaldivargalli" target="_blank">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="mailto:jorgesaldivar@gmail.com" target="_blank">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="http://me.jorgesaldivar.com" target="_blank">
                        <i class="fas fa-globe"></i>
                    </a>
                </div>
                <!-- Footer About Text -->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4"></h4>
                    <p class="lead mb-0">Inspirado en <a href="https://uyredesuyredes.wordpress.com/" target="_blank">UyRedes</a>. El código del sitio es
                        abierto, para más detalles ver <a href="https://github.com/joausaga/cipe" target="_blank">aquí</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Investigadores Paraguayos en el Extranjero 2019</small>
            <small><div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></small>
        </div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Contact Form JavaScript -->
    <script src="{% static 'app/js/jqBootstrapValidation.js' %}"></script>
    <!-- Custom scripts for this template -->
    <script src="{% static 'app/js/freelancer.min.js' %}"></script>
    <!-- Date picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <!-- Marker cluster library -->
    <script src="{% static 'app/js/markerclusterer.js' %}"></script>
    <script>
        $(document).ready(function(){
            {% block javascript %}{% endblock %}
        })
    </script>
</body>
</html>