{% extends 'base.html' %}
{% load static %}

<script>
    {% block javascript %}
    //leaflet map
    var map = initMap('map');

    var markers = L.markerClusterGroup(); // Leaflet's cluster group

    addMarkers({{ scientists|safe }}, true, map, markers);    
    

{% endblock %}
</script>

{% block content %}
<div id="loginAlert" class="alert alert-success text-center collapse" role="alert">

  <button type="button" class="close alert-dismissible" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Masthead -->
<header class="text-center">
    <div class="container-fluid px-0" >
        <div id="map">
        </div>
        <div class="container" style="
        position: absolute;
        z-index: 400;
        top: 46%;
        left: 0;
        right: 0;
        margin: auto;">
            <div class="jumbotron transparentBackground">
                <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Investigadores Paraguayos en el Mundo</h1><br>
                <a class="btn btn-xl btn-primary" href="{% url 'registration' %}">
                    <i class="fas fa-user-plus mr-2"></i>
                        Registrate
                </a>
                <a class="btn btn-xl btn-primary" href="{% url 'map' %}">
                    <i class="fas fa-map mr-2"></i>
                        Ver Mapa
                </a>
            </div>
        </div>
    </div>
    </div>
</header>
<!-- Seccion Sobre el Sitio -->
<section class="page-section portfolio" id="sobre">
    <div class="container">
        <!-- Sobre el sitio Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Sobre el sitio</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="flag-icon flag-icon-py"></i>
            </div>
            <div class="divider-custom-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 ml-auto">
            <p class="lead">
                El sitio pretende ser un espacio que compile <b>información</b> sobre <b>investigadores</b> (estudiantes de másters
                académicos y doctorado, postdocs, profesores) <b>paraguayos</b> que se encuentren <b>residiendo en el extranjero</b> y
                realizando trabajos académicos en cualquier área en universidades, centros de investigación, y empresas fuera del país.
            </p>
        </div>
      </div>
    </div>
    <br>
</section>
<!-- El porque Section -->
<section class="page-section bg-primary text-white mb-0" id="elporque">
    <div class="container">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">Porqué del sitio</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-question"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
      <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Generar colaboraciones entre académicos paraguayos residiendo en el extranjero y trabajando
                    en áreas afines con el potencial de iniciar lineas de investigación que puedan derivar en
                    investigaciones conjuntas en el futuro.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Fortalecer vínculos entre investigadores paraguayos residiendo en lugares próximos
                    lo que propiciará la creación de comunidades locales para el intercambio de ideas, conocimientos, y
                    experiencias.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Permitir que paraguayos que desean inciar una formación académica fuera del
                    país puedan contactar con investigadores en el extranjero para evacuar dudas y
                    acceder a información respecto a posiciones abiertas, líneas de investigación, financiamiento, etc.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Stats Section -->
<section class="page-section mb-0" id="stats">
    <div class="container">
        <!-- Stats Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase">Datos Agregados</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-stream"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
      <!-- Section Content -->
        <br><br>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <div class="card">
                    <img src="{% static 'app/img/woman_avatar.svg' %}" alt="Female Scientists" style="width:80%">
                    <br>
                    <div class="card_container bg-primary">
                        <h1 class="page-section-heading text-center text-white">{{ num_female_scientists }}</h1>
                        <p class="card-text text-center text-white">Investigadoras de entre<br><b>{{ min_age_female }}</b> y
                            <b>{{ max_age_female }}</b> años<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mr-auto">
                <div class="card bg-light">
                    <img src="{% static 'app/img/man_avatar.svg' %}" alt="Male Scientists" style="width:80%">
                    <br>
                    <div class="card_container bg-primary">
                        <h1 class="page-section-heading text-center text-white">{{ num_male_scientists }}</h1>
                        <p class="card-text text-center text-white">Investigadores de entre<br><b>{{ min_age_male }}</b> y
                            <b>{{ max_age_male }}</b> años<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mr-auto">
                <div class="card bg-light">
                  <img src="{% static 'app/img/institution.svg' %}" alt="Institution" style="width:80%">
                  <br>
                  <div class="card_container bg-primary">
                      <h1 class="page-section-heading text-center text-white">{{ num_institutions }}</h1>
                      <p class="card-text text-center text-white">Centros de Investigación en<br><b>{{ num_cities }}</b>
                          ciudades de <b>{{ num_countries }}</b> paises
                      </p>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 mr-auto">
                <div class="card bg-light">
                    <img src="{% static 'app/img/mortarboard.svg' %}" alt="Posiciones" style="width:80%">
                    <br>
                    <div class="card_container bg-primary">
                        <h1 class="text-center text-white">{{ total_most_common_position }}</h1>
                        <p class="card-text text-center text-white">{{ name_most_common_position }},
                            {{ total_second_common_position }} {{ name_second_most_common_position }},
                            {{ total_third_most_common_position }} {{ name_third_most_common_position }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mr-auto">
                <div class="card bg-light">
                    <img src="{% static 'app/img/areas.svg' %}" alt="Areas" style="width:80%">
                    <br>
                    <div class="card_container bg-primary">
                        <h2 class="text-center text-white">{{ top_area_f }}</h2>
                        <p class="card-text text-center text-white mb-2">Área más popular entre las <br>investigadoras ({{ per_top_area_f }}%)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mr-auto">
                <div class="card bg-light">
                    <img src="{% static 'app/img/book.svg' %}" alt="Areas" style="width:80%">
                    <br>
                    <div class="card_container bg-primary">
                        <h3 class="text-center text-white">{{ top_area_m }}</h3>
                        <p class="card-text text-center text-white mb-1">Área con más investigadores ({{ per_top_area_m }}%)</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <div class="row">
            <div class="col-lg-12 ml-auto">
                <p class="font-weight-normal text-center">Datos agregados hasta el momento</p>
            </div>
        </div> -->
    </div>
</section>
<script defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"></script>
{% endblock %}