{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Masthead -->
<header class="text-white text-center">
    <div class="container-fluid px-0" >
        <div id="map">
        </div>
        <a href="#" style="position:absolute;margin-top: -5.75rem" class="btn btn-primary btn-xl rounded-pill">Saber Más</a>
        <script>
            // Initialize and add the map
            function initMap() {
                // The map, centered at BSC
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 2, center: {lat: {{ lat }}, lng: {{ lon }}} });
                // The marker, positioned at BSC
                var infowindow = new google.maps.InfoWindow({
                    content: "Barcelona Supercomputing Center"
                });
                var marker = new google.maps.Marker({position: {lat: {{ lat }}, lng: {{ lon }}}, map: map});
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
            }
        </script>
    </div>
</header>
<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Grid Items -->
      <div class="row">
          <!-- Portfolio Item 1 -->
          <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                          <i class="fas fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <img class="img-fluid" src="{% static 'img/portfolio/cabin.png' %}" alt="">
              </div>
          </div>
          <!-- Portfolio Item 2 -->
          <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                          <i class="fas fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <img class="img-fluid" src="{% static 'img/portfolio/cake.png' %}" alt="">
              </div>
          </div>
        <!-- Portfolio Item 3 -->
          <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                          <i class="fas fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <img class="img-fluid" src="{% static 'img/portfolio/circus.png' %}" alt="">
              </div>
          </div>
        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'img/portfolio/game.png' %}" alt="">
            </div>
        </div>
        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'img/portfolio/safe.png' %}" alt="">
            </div>
        </div>
        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'img/portfolio/submarine.png' %}" alt="">
            </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
</section>
<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
      <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
                    complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and
                    add your email address to the contact form to make it fully functional!
                </p>
            </div>
        </div>
        <!-- About Section Button -->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
                <i class="fas fa-download mr-2"></i>
                Free Download!
            </a>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacto</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email
                address in the PHP file on line 19. -->
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Nombre</label>
                            <input class="form-control" id="name" type="text" placeholder="Nombre" required="required"
                                   data-validation-required-message="Favor ingrese su nombre.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Email</label>
                            <input class="form-control" id="email" type="email" placeholder="Dirección de Email"
                                   required="required"
                                   data-validation-required-message="Favor ingrese su dirección de email.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Message</label>
                            <textarea class="form-control" id="message" rows="5" placeholder="Mensaje"
                                      required="required" data-validation-required-message="Favor ingrese su mensaje.">
                            </textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap">
</script>
{% endblock %}