{% extends 'base.html' %}

{% block content %}
<div id="map"></div>
<script>
    function addMarkers() {
        // Create markers
        var scientists = {{ scientists|safe }};
        var inst_lat, inst_lng, str_info_window;
        for (i=0; i < scientists.length; i++) {
            inst_lat = scientists[i].institution_latitude;
            inst_lng = scientists[i].institution_longitude;
            const marker = new google.maps.Marker({position: {lat: inst_lat, lng: inst_lng}, map: map});
            infoWindowContent = "<div class='text-body text-left'><b>" + scientists[i].name + "</b><br>" + scientists[i].institution_name + "</div>";
            const infowindow = new google.maps.InfoWindow({
                content: infoWindowContent
            });
            marker.addListener('click', function () {
                closeInfoWindow();
                infowindow.open(marker.get('map'), marker);
                InforObj[0] = infowindow;
            });
        }
    }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap">
</script>
{% endblock %}