{% extends 'base.html' %}

<script>
{% block javascript %}

    //leaflet map
    var map = initMap('map-registration');

     /* Create searchcontrols */
    var GeoSearchControl = window.GeoSearch.GeoSearchControl;
    var OpenStreetMapProvider = window.GeoSearch.OpenStreetMapProvider;
    var provider = new OpenStreetMapProvider({});

    //  Define search controls
    var searchControl = new GeoSearchControl({
        provider: provider,
        style: 'bar',
        showMarker: true,
        searchLabel: 'Buscar institución',
        marker: {
        draggable: false
    },
        autoClose: true,
        keepResult: true,
    });
    
    // Add searchbar to the map
    map.addControl(searchControl);

    //geosearch/showlocation is fired when location is chosen from the result list
    map.on('geosearch/showlocation', function(e) {
        // Set the value of the hidden fields
        document.getElementById("id_location_name").value = e.location.label;
        document.getElementById("id_location_lat").value = e.location.y;
        document.getElementById("id_location_lng").value = e.location.x;
     });
    
    

    // hide label of data picker
    document.querySelector('label[for=id_end_abroad_period]').style.display = 'none';
    var regResult = parseInt("{{ registration_result }}");
    var msg = "{{ msg }}";
    var is_edit_form = parseInt("{{ edit }}");
    if (is_edit_form == 1) {
        document.getElementById("form_title").innerHTML = 'Editar Registro de Investigador';
        var institution = {{ institution|safe }};
        if ('latitude' in institution && 'longitude' in institution && 'name' in institution) {
            addMarker(map, institution['latitude'], institution['longitude'], institution['name']);
            showResidenEndDate();
        }
    }
    if (regResult >= 0) {
        document.getElementById("msgReg").innerHTML = msg;
        if (regResult==1) {
            alertClassName = "alert-danger";
        }
        if (regResult==0) {
            alertClassName = "alert-success";
        }
        element = document.getElementById("myAlert");
        arr = element.className.split(" ");
        if (arr.indexOf(alertClassName) == -1) {
            element.className += " " + alertClassName;
        }
        $("#myAlert").show();
        window.setTimeout(function() {
            $("#myAlert").fadeTo(300, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
    }
    $("#id_end_abroad_period").datepicker({
      format:'dd/mm/yyyy',
    });
    $("#id_birth_date").datepicker({
      format:'dd/mm/yyyy',
    });
{% endblock %}
</script>

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mt-5 mx-auto">
                <h2 id='form_title' class="text-center text-uppercase text-secondary mt-5">Registro de investigador</h2>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <p>
                    Recuerde que el objetivo del sitio es visualizar los datos de investigadores paraguayos residiendo en el
                    extranjero y trabajando/estudiando en universidades o centros de investigación fuera de Paraguay.<br><br>
                    Los datos registrados son aprobados por el administrador antes de ser visualizados en el sitio.
                </p>
                <form method="POST" onkeydown="return event.key != 'Enter';"> {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            {{ form.as_p }}
                            <p style="font-size:1.5em;color:#6c757d;margin-top:2em">Institución * (busque en el mapa)</p>
                            <div id="map-registration"></div>
                        </div>
                    </div>
                    <div>
                        <br>
                        <span class="badge badge-warning">* Campo Requerido</span>
                    </div>
                    <div class="mt-4 form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="submitButton">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places"></script>
{% endblock %}